# Environment variables
.env

# Node.js dependencies
node_modules/

# Logs
*.log

# Build artifacts
dist/
.vercel/

# macOS system files
.DS_Store

# Databases
*.sqlite

# JSON files
*.json
!public/data/products.json